
.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-record:before { content: '\e802'; } /* '' */
.icon-dot:before { content: '\e803'; } /* '' */
.icon-emo-happy:before { content: '\e804'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */