body{background-color:#ffffff; color:#27304d; font-family: 'Noto Sans KR', sans-serif; font-family: 'Roboto', sans-serif; font-size: 2vh; font-weight: 400; position:relative; margin:0 auto;}
h1{margin: 0; font-family: 'Noto Sans KR', sans-serif; font-family: 'Roboto', sans-serif; font-size: 2.4vw; font-weight: 700; letter-spacing: -0.2px;}
p{margin: 0; font-family: 'Noto Sans KR', sans-serif; font-family: 'Roboto', sans-serif; font-size: 1.6rem; line-height: 3.2rem; font-weight: 500; letter-spacing: -0.8px; text-align: justify;}
.eng{font-family:'Roboto',sans-serif; font-weight:400; letter-spacing: -0.2px;}

.scroll-top{position: fixed; top:0px; right: 0; z-index: 16; color: yellow; z-index: -12;}
.content-top{position: fixed; top:16vh; right: 0; z-index: 16; color: yellow; z-index: -12;}
.scroller-top{position: fixed; top: 80vh; right: 0; z-index: 16; color: yellow; z-index: -12;}
.scroller-bottom{position: fixed; top: 90vh; right: 0; z-index: 16; color: yellow; z-index: -12;}
.ui-anchor{position: fixed; top: 24vh; right: 0; z-index: 16; color: yellow; z-index: -12;}

.top{position: absolute; top:0; right: 0; z-index:16; color: red; z-index: -12;}
.bottom{position:absolute; right: 0; z-index: 16; color: red; z-index: -12;}

#introvid,#outrovid{background-color:#424242; position: relative; width: 100%; height: 100vh; overflow-y:hidden;}
#domain{position:relative; width: 100%; height: 100vh; z-index: 0; overflow-y:hidden;}
#domain-text{position: relative; top:10vh; left:5vw; color: #ffffff;}
#domain-text p{font-size: 2vh; line-height: 3.7vh; font-weight: 500; letter-spacing: -0.8px; text-align: justify;}

#contents{position: relative; width: 100%; z-index: 0;}
ul.title{list-style-type: none; width: 100%; margin: 0; padding: 0;}
ul.title li{position: relative; width: 100%; height: 12vh;}
ul.title li h1{position: relative; left: 5vw; line-height: 12vh;}

.content-wrapper{position:relative; width:100%; height: 504vh; margin:0; display:none;}
.content-solid{position: relative; width: 100%; height: 84vh; margin-top: 0px; display: none;}
.chapter{width: 100%; height: 4vh;}

.chapter-bar{position:relative; left:4px; top: 0vh; width:100%; height:1vh;background-color:#ffffff;}

.content-area{position: absolute; top:4vh; left: 5vw; width: 90vw;}
.content-b{position: relative; padding-bottom: 4.6vh;}
.content-r{position: relative; padding-bottom: 4.6vh;}
.content-s{position: relative; padding-bottom: 4.6vh; z-index: 5;}
.content-solid h1{margin-bottom: 6vh;}  .content-solid p{width:40vw;}
.content-s h1{position: relative; left: 50vw; width: 40vw; margin-top: 4vh; font-size: 2vw;}
.content-s p{position: relative; left: 50vw; width: 40vw; margin-top: 2vh;}
.text-title{font-weight:700;}

.motion{position: absolute; left: 55vw; top: 0vh; width: 40vw;}
.ui{position: sticky; left: 5vw; top: 16vh; width: 48vw; z-index: 4;}

.full-motion{position:absolute; width: 48vw; left: 21vw;}
.motion-s{position: fixed; left: 0.8vw; top: 14vh; width: 54.7vw; display: none;}

#reference-title{position: relative; width: 100%; z-index: 0; height: 12vh; background-color: #f7f9fc;}
#reference-title h1{position: relative; left: 5vw; line-height: 12vh;}
#reference-solid{position: relative; width: 100%; height: 96vh; margin-top: 0px; background-color: #f7f9fc;}
ul.reference-list{list-style-type: none; position: relative; margin: 0; top: 2vh; padding: 0; left: 5vw;}
ul.reference-list li{position: relative; font-size: 2.4vh; line-height: 5.76vh; font-weight: 400;}

#profile{position:relative; width:100%; height:84vh; left: 0; margin:0 auto; z-index:0; background-color: #ffffff;}
.member{ position: absolute; width: 24vw; height: 28vw;}
.p-img{ position: relative; margin: 0 auto; margin-top: 16vh; width: 24vw; height: 24vw; border-radius: 4px; background-color: #f7f9fc;}

footer{position: relative; width:100%; height: 16vh; z-index: 0; margin:0; padding:0}

@media (max-width: 600px){
  h1{font-size:5vw;}
  .motion{display:none;}
  .hover-me{display:none;}
  .content-area{margin-top: 4vh; left: 8vw;}
  .content-solid{height:320vh;}
  .content-solid p{width: 100%;}
  .content-s p{width:84vw;top:4vh;left:-8vw;z-index:0;}
  .ui{top: 14vh; width: 84vw;z-index:8;}
  .ui-area{position:relative; width:100vw; height:64vw; background-color: #ffffff;}
  .motion-s{top:12.8vh; left:0.8vw; width:96vw;z-index:6;}
  #reference-solid{height: 160vh;}
  ul.reference-list{width: 84vw;}
  ul.reference-list li{height: 8.8vh;}
  footer{width: 500vw; margin-left:-200vw;}
}
