body{width: 100%; position:relative; margin:0; background-color:#ffffff; color:#27304d; font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-size: 1rem; font-weight: 400;}
h1{margin: 0; font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-size: 2.2vw; font-weight: 700; letter-spacing: -0.2px;}
p{margin: 0; font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-size: 1rem; line-height: 2.2rem; font-weight: 500; letter-spacing: -0.8px; text-align: justify;}
.eng{font-family:'Roboto',sans-serif; font-weight:400; letter-spacing: -0.2px;}

.scroll-top{position: fixed; top:0px; right: 0; color: yellow; z-index:-12;}
.content-top{position: fixed; top:16vh; right: 0; color: yellow; z-index:-12;}
.scroller-top{position: fixed; top: 80vh; right: 0; color: yellow; z-index:-12;}
.scroller-bottom{position: fixed; top: 90vh; right: 0; color: yellow; z-index:-12;}
.ui-anchor{position: fixed; top: 24vh; right: 0; color: yellow; z-index:-12;}

.top{position: absolute; top:0; right: 0; color: red; z-index:-12;}
/* .bottom{position:absolute; right: 0; color: red; z-index:-12;} */

#introvid,#outrovid{background-color:#000000; position: relative; width: 100%; height: 100vh; overflow-y:hidden;}
#intro-vimeo, #outro-vimeo{position:absolute;top:0vh;left:0vw;width:100vw;height:100vh;}
.vid-exp{position: relative top: 4vh; width: 16vw; color: #ffffff;}

.domain{position:relative; width: 100%; height: 100vh; z-index: 0; overflow-y:hidden; background-color: #ffffff;}
.domain h1{font-size: 2rem; line-height: 3.2rem;}
.domain-text{position: relative; top:12vh; left:12vw; width: 76vw; height: 76vh; color: #ff6200;}
.domain-img{position: absolute; top: 12vh; right: 12vw; width: 76vw; height: 92vh;}

.domain-text-right{position:absolute; left: 60vw; top: 16vh; width: 28vw; height: 76vh;}
.domain-text-left{position:absolute; left: 12vw; top: 40vh; width: 40vw; height: 60vh;}

.r-cha-left{position: absolute; left: 0; top: 16vh;}
.r-cha-right{position: absolute; right: 0; top: 18.4vh; margin-top: 6rem;}

.r-talk-left{position: absolute; left: 0; margin-left: 160px; top: 20vh; font-size: 0.9rem; line-height: 1.8rem; font-weight: 500; letter-spacing: -0.8px; text-align: justify;
              width: 27rem; padding: 1.2rem; padding-left: 2.2rem; background-color: #ffffff; color: #27304d; border-radius: 2rem; border-top-left-radius: 0;}
.r-talk-right{position: absolute; right: 0; margin-right: 200px; top: 22.4vh; margin-top: 6rem; font-size: 0.9rem; line-height: 1.8rem; font-weight: 500; letter-spacing: -0.8px; text-align: justify;
              width: 27rem; padding: 1.2rem; padding-left: 2.2rem; background-color: #ffffff; color: #27304d; border-radius: 2rem; border-top-right-radius: 0;}

.character{position:sticky; top:0; left: 0; width: 100%; height: 200vh; z-index: 0;}
.character h1{position: absolute; top: 32vh; left: 64vw; z-index: 2; font-size: 2rem; line-height: 3.2rem;}
.first{position: absolute; top:0; left: 0; width:100vw; height: 100vh; overflow-y:hidden; z-index:1;}
.second{position: absolute; top:0; left: 0; width:100vw; height: 100vh; overflow-y:hidden; z-index:0;}
.mobile-h1, .mobile-h2{display: none;}

#contents{position: relative; width: 100%; z-index: 0;}
ul.title{list-style-type: none; width: 100%; margin: 0; padding: 0;}
ul.title li{position: relative; width: 100%;}
ul.title li h1{position: relative; left: 12vw; line-height: 16vh; font-weight: 300;}
ul.title li h1 br{display:none;}

ol.bottom-list{position: absolute; right: 0; color: red; z-index:-12; height: 420vh;}
ol.bottom-list li{top: 84vh; height: 84vh; margin: 0; padding: 0;}
.bottom-list{z-index:-12;}

.content-wrapper{position:relative; width:100%; height: 420vh; margin:0;}
.b-wrapper{background-color: #27304d; color: #ffffff;} .r-wrapper{background-color: #ff6200; color: #ffffff; z-index: 5;} .s-wrapper{height: 252vh;background-color: #ffffff; z-index:8;}
.content-solid{position: relative; width: 100%; height: 84vh; margin-top: 0px; display: none;}

.content-area{position: absolute; top:4vh; left: 12vw; width: 76vw;}
.content-solid h1{font-size: 1rem; line-height: 2.2rem; margin-bottom: 4.4rem;}  .content-solid p{width:34vw;}
.text-title{font-weight:700;}

.h1-area{position: absolute; top: 0; left: 0; z-index: 1; width: 10.8rem; height: 2.4rem;}
.h1-animation{position: relative; top: 0; left: 0; margin-top:4px; margin-left:-4px; background-color: #ff6200;
              width:8%; height: 1.2rem; padding: 4px; border-radius: 0;
              animation: h1-highlight 1.6s forwards;}
@keyframes h1-highlight {
              0%{width: 0; left: 0; opacity: 0;}
              40%{width: 0; left: 0; padding: 0; opacity: 0;}
              48%{width: 8%; left: 0; padding: 4px; opacity: 1;}
              100%{width: 100%; left: 0; padding: 4px; opacity: 1;}
}

.motion{position: absolute; left: 53vw; top: 4vh; margin-top: 8.8rem; width: 35vw;}

.full-motion{position:absolute; width: 48vw; height:80vh; left: 14vw;}

.ui-area{position: absolute; top: 4vh; left: 12vw; width: 38vw;}
.ui{position: absolute; top:0; left:0; width:100%; z-index: 4;}
.basic-s{position: absolute; top: 0; left: 0; width:100%; z-index: 1;}
.hover-s{position: absolute; top: 0; left: 0; width:100%; z-index: 2; display: none;}

.exp-area{position: absolute; top: 4vh; left: 57vw; width: 31vw;}
.exp{position: relative; margin-bottom: 2.4vw; width: 100%;}
.exp-short{margin-bottom: 1.2vw;}
.exp h1{font-size: 1.4rem; line-height: 2.4rem; margin: 0; font-weight: 700; color: #ff6200;}
.exp-pointer{font-family: 'fontello'; font-size: 1.2rem; color: #ff6200; position:relative; margin-left: 1rem; margin-top: -3rem;}
.exp-summary{font-size: 1rem; line-height: 2rem; font-weight: 700; color: #565656; margin-bottom: 0.8rem;}
.exp p{color: #565656;}

#reference-title{position: relative; width: 100%; z-index: 0; height: 12vh; background-color: #f7f9fc;}
#reference-title h1{position: relative; left: 12vw; line-height: 12vh;}
#reference-solid{position: relative; width: 100%; height: 72vh; margin-top: 0px; background-color: #f7f9fc;}
ul.reference-list{list-style-type: none; position: relative; margin: 0; top: 2vh; padding: 0; left: 12vw;}
ul.reference-list li{position: relative; font-size: 2vh; line-height: 3.7vh; font-weight: 400;}

#profile{position:relative; width:100%; height:56vw; margin:0 auto; z-index:0; background-color: #ffffff;}
.prof-logo{position:absolute; top:4vh; left: 12vw; width: 240px;}
.member{ position: absolute; top:320px; width: 24vw; height: 28vw;}
.amember{left: 12vw;} .bmember{left: 38vw;} .cmember{left: 64vw;}
.p-img{ position: relative; margin: 0 auto; margin-top: 0vh; width: 24vw; height: 24vw; border-radius: 4px; background-color: #f7f9fc;}

footer{position: relative; width:100%; height: 16vh; z-index: 0; margin:0; padding:0}

@media (max-width: 720px){
  .scroll-top, .content-top, .scroller-top, .scroller-bottom, .ui-anchor, .top, .bottom{display:none;}
  body{width: auto;}
  #intro-vimeo, #outro-vimeo{position:absolute;top:-24vw;}
  .vid-exp{position: absolute; top: 60vh; left: 4vw; width: 92%;}
  .vid-exp h1{margin-bottom: 1rem;}
  h1{font-size:1rem;} p{font-size: 0.9rem; line-height: 1.8rem;}
  .domain h1{font-size:1.4rem; line-height:2rem;}
  .domain-text{left: 4vw; top: 8vh; width: 92%;} .domain-text-left{left: 4vw; top: 16vh; width: 92%;}
  .domain-img{position: absolute; top: 36vh; left: 4vw; width: 92vw; height: 64vh;}
  .domain-h1{margin-top: -8vh;}
  .domain-h2{margin-top: 4vh;}

  .r-chat{position:absolute; top: -8vh; left: 0; width:92vw; height: 100%;}
  .r-cha-left{width: 80px; padding-top: 28px;}
  .r-cha-right{width: 80px; right: -8vw; padding-top: 32px;}
  .r-talk-left{width: 15.2rem; margin-left: 60px; font-size: 0.8rem; line-height: 1.6rem; padding: 0.8rem;}
  .r-talk-right{width: 15.2rem; margin-right: 60px; font-size: 0.8rem; line-height: 1.6rem; padding: 0.8rem;}
  .r-talk-left br, .r-talk-right br{display: none;}

  .character{height: 100vh; width: 100%;}
  .character h1{font-size: 1.4rem; line-height: 2rem; width: 92vw; top: 0; left: 4vw;}
  .first, .second{display: none;}
  .mobile-h1{display: block; position:absolute; margin-top: 4vh; right: 0; text-align: right;}
  .mobile-h2{display: block; position:absolute; margin-top: 54vh; right: 0; text-align: right;}

  ul.title li h1{left: 4vw; font-size: 1.4rem; line-height: 8vh;}
  ul.title li h1 br{display: block;}
  .b-wrapper{height:972vw;} .r-wrapper{height:972vw;} .s-wrapper{height: 720vw;}
  ol.bottom-list{display: none;}
  .content-solid{display: block; height: 216vw;} .content-solid h1{margin-bottom: 4vh;} .content-solid p{width: 100%;}
  .short-solid{height: 108vw;}
  .content-area{position:relative; margin-top: 0vh; left: 4vw; width: 92%;}
  .motion{position: relative; left: 2vw; width: 92%; top: 0; margin-top: 6rem;}
  .motion-left{left: 0vw;}
  .full-motion{width: 92vw; left:0; top:-20vh;}
  .s-title{margin-top: 6px;}
  .s-wrapper .content-solid{height: 240vw;}
  .exp-area{width:92vw; left: 4vw; top: 14vh; height: 80vw; margin-top: 72vw; padding-bottom: 4vw;}
  .exp h1{width:100%;top:4vh;left: 0; z-index:0;margin-bottom: 0;} .exp p{width:100%;top:0;left: 0; z-index:0;}
  .ui-area{position: absolute; top:14vh; left: 4vw; width: 92vw; height: 720vw;}
  #reference-title h1{left: 4vw;}
  #reference-solid{height: 280vw;}
  ul.reference-list{left: 4vw; width: 92vw;}
  #profile{height: 168vw; padding-top: 8vw;}
  .p-img{margin-top: 0;}
  .prof-logo{left: 4vw; width: 52vw;}
  .member{top:76vw; left: 4vw; width: 92vw;} .p-img{margin-left: 0;}
  .member p{position:absolute; margin-left: 28vw; margin-top: -14vw;}
  .bmember{top: 104vw;}
  .cmember{top: 132vw;}
  footer{width: 400vw; margin-left:-150vw;}
}
