body{background-color:#ffffff;color:#27304d;font-family: 'Noto Sans KR', sans-serif;font-family: 'Raleway', sans-serif;font-size:1rem;font-weight:400;position:relative;margin:0 auto;}
h1{font-weight:600;font-size:4.8rem;margin:0;}
p{font-weight:400;line-height:2rem;}
#introvid, #outrovid{width:100%;height:400px;background-color:#f7f9fc;text-align:center;margin-top:0;margin-bottom:120px;}
#background, #research, #solution{width:960px;margin:0 auto;margin-bottom:120px;position:relative;height:660px;}

.titlearea{
  /* border: 1px solid gray; */
  position: absolute;
  left:20px;
  top:0px;
  width: 60%;
  height: 100%;
  z-index: 0;
}
ul.chapter{
  list-style-type: none;
  margin:0; padding:0;
  position: absolute; z-index: 0;
  top: 60px;
}
ul.chapter li{
  margin-bottom:16px;
  font-weight:800;font-size:2.8rem;
}

.textarea{
  /* border: 1px solid gray; */
  position: absolute; z-index: 0;
  right:0px; top: 180px;
  width: 64%; height: 480px;
}
.text{
  position: absolute; z-index: 0;
  width: 100%; top: 0px; left: 0px;
}
.highlight-hover{
  color: #ffffff;
  background-color: #ff6200;
  padding: 4px;
}
.hover-img{
  position: absolute;
  z-index: 2;
}
